/* .row__container {
  display: flex;
  justify-content: space-between;
} */
th {
  cursor: pointer;
}

.table__container {
  border-collapse: collapse;
  width: 100%;
}

.row__container:hover {
  background-color: rgb(0, 114, 114);
}

.colored__row--dark {
  background-color: rgb(79, 79, 79);
}

.colored__row--white {
  background-color: rgb(58, 58, 58);
}
